
.hovered{
  width: 350px;
  height: 475px;
  border:solid 2px black;
  margin-right: 250px;
  position: relative;
  border-radius: 10px;
}
img{
  width:100%;
  position:absolute;
  margin:auto;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
}
.down-arrow{
  width:33%;
  position:absolute;
  top: 33%;
  left:0;
  right: 0;
  bottom: 0;
  margin:auto;
  opacity:.6;
}
.up-arrow{
  width:33%;
  position:absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 33%;
  margin:auto;
  opacity:.6;
}
.score input{
  left: 47%;
  top: 47%;
  position: absolute;
  width:10%;
  opacity: 1;
  background-color: transparent;
  border: none;
  font-size: 20px;
  -moz-appearance: textfield;

}
.exit-button img{
  opacity: .6;
  left: 90%;
  bottom:90%;
  width:10%;
}
.forum-button img{
  opacity: .6;
  left: 60%;
  bottom:90%;
  width:10%;
}
.post-title{
  color: blue;
  position: absolute;
  top: 80%;
}
.share-button img{
  width: 10%;
  top: 90%;
  left: 90%;
}
.post-location a{
  font-size: 15px;
  text-decoration: none;
}
.post-metrics{
  font-size: 15px;
}
.post-metrics a{
  text-decoration: none;
}
.share-box{
  position: absolute;
  font-size: 15px;
  left:68%;
  top:60%;
  text-align: center;
}
.share-box ul{
  list-style-type:none;
}
